body {
    height: 100%;
    margin: 10%;
  background-image: radial-gradient(circle, pink, purple, pink);
  }
 

 
 h1 { 
  color:pink;
  text-shadow: 4px 4px #963695;
  }
   h2 {
  color:#4b45ff;
  font-family: Brush Script MT;
  text-shadow: 4px 4px #232085;
    }
	p {
		font-family: Arial;
		color:pink;
		text-shadow: 4px 4px #963695;
	}
img {
  border-radius: 150px;
  padding: 20px;
	
    }
 