 html, body {
    height: 100%;
    margin: 10%;
  }
  h1 {
  text-shadow: 4px 4px purple;
   h2 {
  text-shadow: 4px 4px indigo;
    }
  body {
   background-attachment: fixed;
    font-family: sans-serif;
    color: white; 

     background-image: repeating-radial-gradient(
      circle,
      #53225C calc(0% + var(--offset)),
      #53225C calc(15% + var(--offset)),
      #E889BA calc(15% + var(--offset)),
      #E889BA calc(30% + var(--offset))  
    );
    
    animation: moveInward 10s linear infinite;
  }

  @keyframes moveInward {
    0% {
      --offset: 30%;
    }
    100% {
      --offset: 0%;
    }
  }
</style>
